<app-navbar></app-navbar>
<div class="container-fluid">
    <div class="row  justify-content-center  px-xl-5 my-5">
        <app-product-item class="col-lg-3 col-md-4 col-sm-6 pb-1"></app-product-item>
        <app-product-item class="col-lg-3 col-md-4 col-sm-6 pb-1"> </app-product-item>
        <app-product-item class="col-lg-3 col-md-4 col-sm-6 pb-1"></app-product-item>
        <app-product-item class="col-lg-3 col-md-4 col-sm-6 pb-1"></app-product-item>
        <app-product-item class="col-lg-3 col-md-4 col-sm-6 pb-1"></app-product-item>

    </div>
</div>
<app-footer></app-footer>