<div class="container-fluid">
    <div class="row justify-content-center my-5">
        <div class="col-lg-6 col-sm-12 shadow-lg  bg-white  rounded  p-5">
            <div class="card m-5 ">
                <div class="card-body ">
                    <h4 class="card-title py-3 text-center"> User Details</h4>
                    <h5 class="card-text mx-5">Id : {{user?.id}}</h5>
                    <h5 class="card-text mx-5">Email : {{user?.email}}</h5>
                    <h5 class="card-text mx-5">Password : {{user?.password}}</h5>
                </div>
            </div>
        </div>
    </div>
</div>