<div class=" container-fluid my-5">
    <div class="row justify-content-center  ">
        <div class="col-8 ">
            <div class="card ">
                <img [src]="imgSrc" class="card-img-top " alt="...">
                <div class="card-body text-center">
                    <h5 class="card-title">{{title}}</h5>
                    <p class="card-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Accusantium
                        exercitationem sequi iusto inventore? Repellendus impedit quidem reiciendis laboriosam. Eos quae
                        natus quo nulla fugit quam modi repudiandae totam, delectus rerum.
                    </p>
                    <button href="#" class="btn btn-dark" (click)="showMore()">Show More</button>
                </div>
            </div>
        </div>
    </div>
</div>